{%extends 'admin_temps/admin_page.html' %}
{% load static %}

{% block admin_content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        {% if message.tags %}
            <div class="{% if message.tags == 'success' %} alert-success
                        {% elif message.tags == 'warning' %} alert-warning
                        {% endif %}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

        <h3>Users</h3>
            <ul>
                {% for user in users %}
                <li>
                    <div class="user-info">
                        <strong>Username:</strong> {{ user.username }}<br>
                        <strong>Email:</strong> {{ user.email }}<br>
                        <strong>Name:</strong> {{ user.first_name }}<br>
                        <strong>Surname:</strong> {{ user.last_name }}<br>
                    </div>
                    {% if not user.is_admin %}
                        {% if not user.is_moderator %}
                            <a href="{% url 'add_moder_rights' user.username %}" class="ad_rights_btn"> give moder rights</a>
                        {% else %}
                            <a href="{% url 'remove_moder_rights' user.username %}" class="delete_button"> take moder rights</a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'delete_user_page' user.username %}" class="delete_button">Delete User</a>


                </li>
                {% endfor %}
            </ul>
{% endblock admin_content %}
