{%extends 'admin_temps/admin_page.html' %}
{% load static %}

{% block admin_content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        {% if message.tags %} "{{ message.tags }}"{% endif %}>{{ message }}
    {% endfor %}
</div>
{% endif %}
        <h3>Events</h3>
            <ul>
                {% for event in events %}
                <li>
                    <div class="event-info">
                        <strong>Event Name:</strong> {{ event.name }}<br>
                        <strong>Event Description:</strong> {{ event.description }}<br>
                        <strong>Event Date:</strong> {{ event.start_date }}<br>
                        <strong>Event Time:</strong> {{ event.start_time }}<br>
                        <strong>Event Place:</strong> {{ event.event_place.city }}<br>

                        <strong>Event Categories:</strong>
                            {% for category in event.categories.all %}
                                 {{ category.name }} | 
                            {% endfor %}
                    </div>
                    <div class="event_aprovals">
                        {% if event.accepted %}
                            {% if event.approved_by_mods %}
                                <div class="approved">
                                    Approved by mod {{event.accepted.worker}}
                                </div>
                            {% else %}
                                <div class="rejected">
                                    Rejected by mod {{event.accepted.worker}}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="button_column">
                                <a href="{% url 'approve_event_page' event.event_id %}" class="button_approve">Approve</a>
                                <a href="{% url 'reject_event_page' event.event_id %}" class="button_reject">Reject</a>
                                <a href="#" class="button_more">More</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
{% endblock admin_content %}
```