{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calendar</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    </head>
    
    <body>
        {% block header_block %}

        {% endblock header_block %}

        {% block category_block %}

        {% endblock category_block %}

        {% block content_block %}

        {% endblock content_block %}


        <footer>
            <h2>
                &copy; Project: Akce a udalosti
            </h2>
            <div class="authors-container">
                <h3>
                    Authors:
                </h3>
                <ul>
                    <li>
                        <a href="#">Assatulla Dias (xassat00)</a>
                    </li>
                    <li>
                        <a href="#">Alakaev Kambulat (xalaka00)</a>
                    </li>
                    <li>
                        <a href="#">Zdebska Kateryna (xzdebs00)</a>
                    </li>
                </ul>
            </div>   
        </footer>
    </body>
</html>