{%extends 'base.html'%}
{% load static %}


{% block header_block %}
    <header>
        <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
            <div class="nav"> 
                {% if user.is_moderator or user.is_admin %}
                <a href="{% url 'admin_page' %}">Admin Panel</a>
                {% endif %}
                <a href="{% url 'home_page' %}">Home</a>
                <a href="{% url 'my_calendar_page' %}">My Calendar</a>
                <a href="{% url 'logout_page' %}">Log Out</a>
        </div>
    </header>
{% endblock header_block %}



{% block content_block %} 
    <div class="create_container">
        <h2>Create new event place</h2>

        <div class="create_container_fill">
            <form method="POST">
                {% csrf_token %} 
                <div class="form_class">
                    <label for="place_name">Name of the place:</label>
                    <input type="text" id="place_name" name="place_name" required>
                </div>
                <div class="form_class">
                    <label for="city">Name of the city:</label>
                    <input type="text" id="city" name="city" required>
                </div>
                <div class="form_class">
                    <label for="street">Name of the street:</label>
                    <input type="text" id="street" name="street" required>
                </div>
                <div class="form_class">
                    <button class="submit_button" type="submit">Create Event Place</button>
                </div>
            </form>
        </div>
<!--
        <h2>My created places</h2>
        <div class="create_container_fill">
            {%for place in places %}
                {% if place.created == user %}
                <div class="events_element">
                    <div class="event-details">
                        <p>Place: {{place.city}} - {{place.street}}: {{ place.place_name }} </p>
                    </div>
                    <div class="event_aprovals">
                        {% if place.accepted %}
                        {% if place.approved_by_mods %}
                            <div class="my-calendar approved">
                                Approved by mod {{place.accepted.worker}}
                            </div>
                        {% else %}
                            <div class="my-calendar rejected">
                                Rejected by mod {{place.accepted.worker}}
                            </div>
                        {% endif %}
                         else it means it is on stage of approving
                        {% else %}
                            <div class="my-calendar consideration">
                                Under consideration
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    -->

    </div>
{% endblock content_block %}