{%extends 'base.html'%}
{% load static %}


{% block header_block %}
    <header>
        <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
            <div class="nav"> 
                {% if user.is_moderator or user.is_admin %}
                <a href="{% url 'admin_page' %}">Admin Panel</a>
                {% endif %}
                <a href="{% url 'home_page' %}">Home</a>
                <a href="{% url 'my_calendar_page' %}">My Calendar</a>
                <a href="#">Settings</a>
                <a href="{% url 'logout_page' %}">Log Out</a>
        </div>
    </header>
{% endblock header_block %}



{% block content_block %} 
    <div class="create_container">
        <h2>Create new event</h2>

        <div class="create_container_fill">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form_class">
                    <label for="name">Name of the Event:</label>
                    <input type="text" id="name" name="name" required>
                    
                </div>
                
                <div class="form_class">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" required>
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date">
                </div>
                
                <div class="form_class">
                    <label for="start_time">Start Time:</label>
                    <input type="time" id="start_time" name="start_time" required>
                    <label for="end_time">End Time:</label>
                    <input type="time" id="end_time" name="end_time">
                </div>

                <div class="form_class">
                    <label for="place">Event Place:</label>
                    <select id="place" name="place">
                        {% for place in event_places %}
                            {% if place.accepted %}
                            {% if place.approved_by_mods %}
                            <option value="{{ place.place_id }}" selected="selected">{{ place.city }} - {{ place.street }}: {{ place.place_name }}</option>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form_class">
                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" name="capacity" required>
                </div>

                <div class="form_class">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4"></textarea>
                </div>

                <div class="form_class">
                    <label for="categories">Categories:</label>
                    {% for category in categories %}
                        {% if category.accepted  %}
                            {% if category.approved_by_mods %}
                                <div class="category-checkbox">
                                    <input type="checkbox" id="category_{{ category.id }}" name="categories" value="{{ category.id }}">
                                    <label for="category_{{ category.id }}"> {{ category.name }}</label>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="form_class">
                    <label for="photo">Event Photo:</label>
                        <div class="file_input">
                            <input type="file" id="photo" name="photo" class="file">
                            <label for="photo" class="file_label">
                                <span>Choose a file</span>
                            </label>
                        </div>
                </div>


                <!--
                    Need to change forms and models.py, views.py for that
                -->
                <div class="form_class">
                    <label>Is it paid or free?</label>
                    <div class="radio">
                        <input type="radio" id="paid" name="payment_type" value="paid" onclick="showTicketPrice()" required>
                        <label for="paid">Paid</label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="free" name="payment_type" value="free" onclick="hideTicketPrice()" required>
                        <label for="free">Free</label>
                    </div>
                </div>

                <div class="form_class" id="ticket_price_field">
                    <label for="ticket_price">Ticket Price:</label>
                    <input type="number" id="ticket_price" name="ticket_price">
                </div>

                <script>
                    function showTicketPrice() {
                        document.getElementById("ticket_price_field").style.display = "";
                    }
                
                    function hideTicketPrice() {
                        document.getElementById("ticket_price_field").style.display = "none";
                    }
                </script>
                <div class="form_class">
                    <button class="submit_button" type="submit">Create Event</button>
                </div>
            </form>
        </div>

    </div>
{% endblock content_block %}