{%extends 'base.html'%}
{% load static %}


{% block header_block %}
    <header>
        <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
            <div class="nav"> 
                {% if user.is_moderator or user.is_admin %}
                <a href="{% url 'admin_page' %}">Admin Panel</a>
                {% endif %}
                <a href="{% url 'home_page' %}">Home</a>
                <a href="{% url 'my_calendar_page' %}">My Calendar</a>
                <a href="#">Settings</a>
                <a href="{% url 'logout_page' %}">Log Out</a>
        </div>
    </header>
{% endblock header_block %}



{% block content_block %} 
    <div class="create_container">
        <h2>Create new category</h2>
        <div class="create_container_fill">
            <form method="POST">
                {% csrf_token %} 
                <div class="form_class">
                    <label for="name">Name of the category:</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div class="form_class">
                    <label for="subcategory">Subcategory of (leave None if it is not):</label>
                    <select id="subcategory" name="subcategory">
                        <option value="None" selected="selected">None</option>
                        {% for category in category_names %}
                            {% if category.accepted %}
                                {% if category.approved_by_mods %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form_class">
                    <button class="submit_button" type="submit">Create Category</button>
                </div>
            </form>
        </div>

        <h2>My created categories</h2>
        <div class="create_container_fill">
            <p> Need to be done</p>
        </div>

    </div>
{% endblock content_block %}