{%extends 'base.html'%}
{% load static %}


{% block header_block %}
<header>
    <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
    <div class="nav">
        {% if user.is_authenticated %}
        {% if user.is_moderator or user.is_admin %}
        <a href="{% url 'admin_page' %}">Admin Panel</a>
        {% endif %}
        <a href="{% url 'my_calendar_page' %}">My Calendar</a>
        <a href="#">Settings</a>
        <a href="{% url 'logout_page' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login_page' %}">Login</a>
        <a href="{% url 'register_page' %}">Sign Up</a>
        {% endif %}
    </div>
</header>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        {% if message.tags %}
            <div class="{% if message.tags == 'success' %} alert-success
                        {% elif message.tags == 'warning' %} alert-warning
                        {% endif %}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock header_block %}


{% block content_block %}
<div class="event-page-details">
    <h2>Event: {{event.name}}</h2>

    <h3>Created by: {{event.created}}</h3>
    <h3>Approved by: {{event.accepted.worker.username}}</h3>

    {% if event.photo %}
    <img src="{{ event.photo.url }}" alt="Event Photo">
    {% endif %}


    <div class="text-right-align">
        {% for category in event.categories.all %}
        <p class="oval-background">{{ category.name }}</p>
        {% endfor %}
    </div>

    <div class="event_page_information">
        <h4>Location:   {{ event.event_place.city }} - {{event.event_place.street}}</h4>
        <h4>Date:       {{ event.start_date }} - {{ event.end_date }}</h4>
        <h4>Start:      {{ event.start_time }} - {{ event.end_time }}</h4>
        <h4>Capacity:   {{ event.capacity }}</h4>
        <h4>Enrolled People: {{ enrolled_people }}</h4>
        <h4>Cost:       {{ event.ticket_price }} eur</h4>
        <h3>Description:</h3>
        <p>{{ event.description }}</p>
    </div>

    {% if user.is_authenticated %}
        {% if not user in event.registered_people.all %}
            <div class="event-button">
                <a href="{% url 'event_join_user_page' event.pk user.username %}">Join</a>
            </div>
        {%else%}
            <div class="event-button">
                <a href="#">Registered</a>
            </div>
        {% endif %}

        {% if username == created  %}
        <div class="enrolled_class_button">
            <a href="{% url 'enrolled_people' event.pk %}">List enrolled people</a>
        </div>
        {% endif %}
        

        <div class="comment-sections">
            {% if allow_comments  %}
            <h2>Comments</h2>
                {% if user in event.registered_people.all and can_leave_comment%}
                    <form method="POST" action="{% url 'leave_comment' event.pk user.username %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Render content field manually -->
                        <div class="form_class content">
                            <h2> Content: </h2>
                            {{ form.content }}
                        </div>
                        <!-- Render estimation field manually -->
                        <div class="form_estimation">
                            <h2> Estimation: </h2>
                            {% for radio in form.estimation %}
                            <div class="points">
                                {{ radio.tag }} 
                                <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }} &#9733 </label>
                            </div>
                                
                            {% endfor %}
                        </div>
                    
                        <div class="form_class">
                            <button class="submit_button" type="submit">Leave comment</button>
                        </div>
                    </form>
                {% endif %}
                <br><br><br>

                <!-- Show all comments -->
                {% for comm in all_event_comments %}
                <div class="user_comments">
                    <!-- Admin can delete moderators comment, but not other admins coment-->
                    <!-- Moderator can NOT delete other moderators comment nor other admins coment-->
                        {% if user.is_admin or user.is_moderator %}
                            {% if comm.user.username != user.username %} <!-- To check, if it is my commentary -->
                            <div class="delete_comment">
                                <a href="#" class="delete_button" >Delete comment</a>
                            </div>
                            {% endif %}
                        {% endif %}
                        <div class="username">
                            User: {{ comm.user.username }}
                        </div>
                        <div class="comment">
                            User commentary: {{ comm.comment }}
                        </div>
                        <div class="estimation">
                            Estimation: {{ comm.estimation }} / 5
                        </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock content_block %}