{%extends 'base.html'%}
{% load static %}


{% block header_block %}
<header>
    <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
    <div class="nav">
        {% if user.is_authenticated %}
        {% if user.is_moderator or user.is_admin %}
        <a href="{% url 'admin_page' %}">Admin Panel</a>
        {% endif %}
        <a href="#">My Calendar</a>
        <a href="#">Settings</a>
        <a href="{% url 'logout_page' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login_page' %}">Login</a>
        <a href="{% url 'register_page' %}">Sign Up</a>
        {% endif %}
    </div>
</header>
{% endblock header_block %}


{% block content_block %}
<!--<div class="events_element">-->
<div class="event-page-details">
    <h2>{{event.name}}</h2>

    <h3>Created by: {{event.created}}</h3>
    <h3>Approved by: {{event.accepted.worker.username}}</h3>

    {% if event.photo %}
    <img src="{{ event.photo.url }}" alt="Event Photo">
    {% endif %}


    <div class="text-right-align">
        {% for category in event.categories.all %}
        <p class="oval-background">{{ category.name }}</p>
        {% endfor %}
    </div>

    <h4>Location:   {{ event.event_place.city }} - {{event.event_place.street}}</h4>
    <h4>Date:       {{ event.start_date }} - {{ event.end_date }}</h4>
    <h4>Start:      {{ event.start_time }} - {{ event.end_time }}</h4>
    <h4>Capacity:   {{ event.capacity }}</h4>
    <h4>Enrolled People: {{ enrolled_people }}</h4>
    <h4>Cost:       {{ event.ticket_price }} eur</h4>
    <p>{{ event.description }}</p>

    {% if user.is_authenticated %}
        {% if not user in event.registered_people.all %}
            <div class="event-button">
                <a href="{% url 'event_join_user_page' event.pk user.username %}">Join</a>
            </div>
        {%else%}
            <div class="event-button">
                <a href="#">Registered</a>
            </div>
        {% endif %}

        {% if username == created  %}
            <a href="{% url 'enrolled_people' event.pk %}">List enrolled people</a>
        {% endif %}

        {% if allow_comments  %}
            <h2>Comments</h2>
            {% if user in event.registered_people.all and can_leave_comment%}
                <form method="POST" action="{% url 'leave_comment' event.pk user.username %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
<!--                    <label for="content">Your comment:</label>-->
<!--                    <textarea id="content" name="content" required></textarea><br>-->

<!--                     <label>Estimation:</label>-->
<!--                    {% for choice in form.estimation %}-->
<!--                        <input type="radio" id="id_estimation_{{ forloop.counter }}"-->
<!--                               name="estimation"-->
<!--                               value="{{ choice.choice_value }}"-->
<!--                               {% if choice.checked %} checked {% endif %} required>-->
<!--                        <label for="id_estimation_{{ forloop.counter }}">{{ choice.choice_label }}</label>-->
<!--                      {% endfor %}-->
                    <br>
                    <button type="submit">Leave comment</button>
                </form>
            {% endif %}

            {% for comm in all_event_comments %}
                <h4>{{comm.user.username}}</h4>
                <p>{{comm.comment}}</p>
                <h4>{{comm.estimation}}</h4>
            {% endfor %}

        {% endif %}
    {% endif %}

</div>

{% endblock content_block %}