{%extends 'base.html'%}
{% load static %}

{% block header_block %}
    <header>
        <a href="{% url 'home_page' %}" class="logo_header">Calendar</a>
            <div class="nav"> 
                <a href="{% url 'home_page' %}">Main Page</a>
                <a href="{% url 'login_page' %}">Login</a>
        </div>
    </header>
{% endblock header_block %}


{% block category_block %}
{% endblock category_block %}

{% block content_block %}
<div class="main_container">
    <h3>Login </h3>
    <div class="login_form">
        <form method="POST">
            {% csrf_token %} 
            <div class="form_input">
                <label for="username">Username: *</label>
                <input type="text" name="username" id="username" value="{% if user_n  %}{{ user_n }} {% endif %}" required>
            </div>
            <div class="form_input">
                <label for="name">Name: *</label>
                <input type="text" name="name" id="name" value="{% if name  %}{{ name }} {% endif %}" required>
            </div>
            <div class="form_input">
                <label for="surname">Surname: *</label>
                <input type="text" name="surname" id="surname" value="{% if surname %} {{ surname }} {% endif %}" required>
            </div>
            <div class="form_input">
                <label for="email">Email: *</label>
                <input type="email" name="email" id="email" value="{% if email %} {{ email }} {% endif %}" required>
            </div>
            <div class="form_input">
                <label for="phone_number">Phone number:</label>
                <input type="tel" name="phone_number" id="phone_number" value="{% if phone_num  %}{{ phone_num }} {% endif %}">
            </div>
            <div class="form_input">
                <label for="password">Password: *</label>
                <input type="password" name="password" id="password" required>
            </div>

            <button class="submit_button" type="submit">Register</button>
        </form>
    <div class="reg_page">
    <p>*  is for required fields</p>
    </div>
    </div>


</div>
{% endblock content_block %}